/* BOXES */

/* -------- BOX_REQUEST ---------- */
/*a.request_box_link:link, a.request_box_link:visited, a.request_box_link:active {color:#000;}
a.request_box_link:hover {text-decoration: none !important;}
a.request_box_link:hover [id^="box_request"] {background: #F5F8FA !important;}

[id^="box_request"] {width:646px; padding: 0; border: 1px solid #ddd; border-top: none; background: #fff; text-align: left;}
[id^="box_request"] .sender {width:100%; height:35px; padding: 10px 0;}
[id^="box_request"] .sender .avatar {width:35px; height: 35px; margin:0; padding:0 10px;}
[id^="box_request"] .sender .det {width:335px; line-height: 14px;}
[id^="box_request"] .sender .det .city {font-size: 80%; opacity: .6;}
[id^="box_request"] .sender .det .stars {font-size: 80%; }
[id^="box_request"] .sender .time {}
[id^="box_request"] .req_image {width:100px; padding:0 10px 0 55px;}
[id^="box_request"] .req_image img {width:100px; height:100px;}
[id^="box_request"] .ribbon {width:3px;}
[id^="box_request"] .main {width:457px; padding-bottom: 0;}
[id^="box_request"] .main .qty {font-size: 60%; opacity: .6;}
.service_bar .industry .category a:link, .service_bar .industry .category a:visited {color:#999;}
.service_bar .industry .category a:hover {color:#2196F3;}

a.req_box_service_title:link, a.req_box_service_title:visited, a.req_box_service_title:active {color: #444; font-weight: 700;}
a.req_box_service_title:hover {color: #7A75B5 !important;}
.req_box_service_title table {padding: 0; margin: 0; vertical-align: top; font-weight: 700;}
.req_box_service_title table td {padding: 0; margin: 0; vertical-align: top; font-weight: 700;}
.req_box_service_title .icon {width:18px; padding-left:0px; color:#2196F3;}

[id^="box_request"] .details {width: 31px; vertical-align: middle; text-align: center; color: #000000; opacity: 1;}

[id^="box_request"] .stats {width:500px; padding:10px 10px 10px 55px;}

.req_view_title {font-size: 10px; font-weight: 700; width:87px; padding:0px 3px 5px 0; display: block; float: left; text-align: right; color: #777; margin-right:10px; background: #f2f2f2; border-radius: 2px; height:12px;}
.req_view_title.box {font-size: 10px; text-align: left; margin-right:5px; background: #e6e6e6; width:auto !important; padding: 0px 5px 5px;}
*/

/* -------- BOX_DEAL ---------- */
[id^="box_deal"] {}

/* -------- BOX_BID ---------- */
[id^="box_bid"] {}

/* -------- BOX_COMMENT ---------- */
[id^="box_comment"] {}

/* -------- BOX_SERVICE ---------- */
[id^="box_service"] {}

/* -------- BOX_PROSERVICE ---------- */
[id^="box_proservice"] {}

/* -------- BOX_INDUSTRY ---------- */
[id^="box_industry"] {}

/* -------- BOX_PROVIDER ---------- */
[id^="box_provider"] {}

/* -------- BOX_NOTIFICATION ---------- */
[id^="box_notification"] {}

/* -------- BOX_MESSAGE ---------- */
[id^="box_message"] {}

/* -------- BOX_OBJECT ---------- */
[id^="box_object"] {}

/* -------- BOX_LOCATION ---------- */
[id^="box_location"] {}

/* -------- BOX_TRANSACTION----- */
[id^="box_transaction"] {}

/* -------- BOX_PAYMENT ---------- */
[id^="box_payment"] {}

/* -------- BOX_HISTORY ---------- */
[id^="box_history"] {}


/* -------- BOX_POST ---------- */
[id^="box_post"] {}


/* FILTERS */


/* BREADCRUMB FILTERS */


/* SEARCH CONTROLS */
.search_controls {background:#fff; border:1px solid #ddd; border-top:none; text-align:right; padding: 10px;}