/* containers */
.list-container {border-bottom: 1px solid #ddd;}
.card_container, #card_container {margin:0 0 26px 0; padding:0; border-radius: 2px; box-shadow: 0px 2px 4px #999; background: #fff; float: left; position: relative;}

.card_container.record-full, .card_container.teaser-full {width:100%;}
.card_container.record-650, .card_container.teaser-650 {width:650px;}
.card_container.record-320, .card_container.teaser-320 {width:312px;}
.card_container.record-270, .card_container.teaser-270 {width:270px;}
.card_container.record-200, .card_container.teaser-200 {width:200px;}
.card_container.list-item {box-shadow: none !important; margin: 0 !important; border-left: 1px solid #ddd; border-right: 1px solid #ddd;}
.card_container.list-item.color-border {border-left: 3px solid;}
.card_container.no-shadow {box-shadow: none !important;}
.card_container.hover:hover {box-shadow: 0px 2px 8px #999 !important; cursor: pointer;}
.card_container.card-tile {border-radius: 0px !important; margin:0 !important;}
.card_container.no-margin, .card_container .no-margin {margin: 0 !important;}
.card_container.no-padding, .card_container .no-padding {padding: 0 !important;}
.card_container.no-border, .card_container .no-border {border: none !important;}
.card_container.bordered, .card_container .bordered {border: 1px solid #ddd !important;}
.card_container.top-bordered, .card_container .top-bordered {border: none !important; border-top: 1px solid #ddd !important;}
.card_container.transparent, .card_container .transparent {background: transparent !important;}

/* general */
.card_container .head {font-size: 24px; font-weight: 500; float:none; width:100%; line-height: 24px; padding-bottom: 8px;}
.card_container .head.lower {font-size: 16px; line-height: 16px; padding-top: 4px; font-weight: 900;}
.card_container .head.second {font-size: 14px; line-height: 14px; padding-top: 4px; font-weight: 700;}
.card_container .head.major {font-size: 20px; line-height: 14px; padding-top: 4px; font-weight: 700;}
.dim {opacity:.36;}
.card_container .subhead {font-size: 14px; font-weight: 400; color:#999; float:none; width:100%; line-height: 14px;}
.card_container .subhead.float-left {float: left !important; font-weight:700;}
.card_container p {font-size: 13px; margin:0; padding:0; line-height: 16px; color: #666;}
.card_container > a {color:black;}
.card_container a:hover {text-decoration: none;}
.card_container .label {/*font-size: 24px;*/}
.card_container .avatar {float:left;width: 40px;}
.card_container .avatar img {width: 40px; height: 40px; border-radius: 20px;}
.card_container .title {float:left; padding-left: 16px;}
.card_container .subaction {float:right; font-size: 11px; color:#aaa; font-weight: 400;}
.card_container .gray {background: #f6f7f8;}
.card_container .show-more {position: absolute; top:10px; right: 20px;}
.card_container .avatar-padded {padding-left: 72px !important;}
.card_container .section-subtitle {font-size: 11px; color: #777; text-align: left; padding: 5px 0; }
.card_container .hidden-content-container {position: relative;}
.card_container .hovering:hover > .header-context {cursor: pointer; background: #f6f7f8;}
/* header */
.preheader-context {padding:16px 16px 0 72px; height: auto;}
.header-context {padding:16px; height: 72px;}
.header-context.head {height: 80px;}
.header-context.page-title {padding:16px; height: auto; background: #f6f7f8;}
.header-context.page-title.side-widget {padding:8px 16px; letter-spacing: -1px; font-weight: 900; color: #777;}
.header-context.low-margin  {padding:8px 16px; height: 56px;}
/* main-context */
.main-context {border-top: 1px solid #ddd; width: 100%;}
.card_container.no-shadow .main-context {border-top: none;}
.main-context .body-area {}
/* rich-media */
.media-area {position: relative;}
.main-context .media-area {padding: 16px 16px 0 0;}
.main-context .media-area .left {padding: 16px 0 16px 16px;}
.record-full .main-context .media-area .image, .record-full .main-context .media-area .image img {width:312px; height:312px;}
.record-650 .main-context .media-area .image, .record-650 .main-context .media-area .image img {width:152px; height:152px;}
.record-320 .main-context .media-area .image, .record-320 .main-context .media-area .image img {width:112px; height:112px;}
.record-270 .main-context .media-area .image, .record-270 .main-context .media-area .image img {width:80px; height:80px;}
.record-200 .main-context .media-area .image, .record-200 .main-context .media-area .image img {width:80px; height:80px;}
.record-full .media-area, .record-full .media-area img {padding:0; width:100%; height:492px;}
.record-650 .media-area .image, .record-650 .media-area .image img {padding:0; width:100%; height:366px;}
.record-320 .media-area .image, .record-320 .media-area .image img {padding:0; width:100%; height:176px;}
.record-320 .media-area.square .image, .record-320 .media-area.square .image img {width: 312px; height:312px;}
.record-270 .media-area .image, .record-270 .media-area .image img {padding:0; width:100%; height:152px;}
.record-270 .media-area.square .image, .record-270 .media-area.square .image img {width:270px; height:270px;}
.record-200 .media-area .image, .record-200 .media-area .image img {padding:0; width:100%; height:113px;}
.record-200 .media-area.square .image, .record-200 .media-area.square .image img {width:200px; height:200px;}
/* primary context */
.primary-context {padding:24px 16px 16px;}
.primary-context.in-media {padding:0px 16px 8px; position: absolute;  bottom: 0; color:#fff; text-shadow: 1px 1px 2px #000;}
.primary-context.in-media.dark {padding:8px 16px 8px; background-image: linear-gradient(to top,rgba(69,90,100,.75),#607D8B); width: 100%;}
.primary-context.in-media.dark .head {padding-bottom: 0px; text-shadow: 0px 0px 1px #444; font-weight: 700; font-size: 20px; line-height: 20px;}
.primary-context.in-media.dark .subhead {text-shadow: 0px 0px 1px #444; color:#ccc; font-size: 12px; line-height: 12px;}
.primary-context.right {text-align: right;}
.primary-context.full {padding:24px 16px;}
.card-tile .primary-context, .primary-context.small-margin {padding:12px 16px 0px;}
.left-sidebar .primary-context {padding:12px 8px;}
/* secondary-context */
.secondary-context {padding:16px;}
.secondary-context.cont {padding-top:0px;}
.secondary-context.tease, .left-sidebar .secondary-context.tease {padding-top:0px; padding-bottom:0px;}
.secondary-context.tease > p {font-size: 11px !important; line-height: 14px;}
.secondary-context.bottom {padding-bottom:24px;}
.left-sidebar .secondary-context {padding:12px 8px;}
/* built-in-context */
.built-in-context {width: 100%; height: auto; padding: 16px; margin: -16px;}
/* action-area */
.action-area {padding:8px; height: 48px;}
.action-area a, .action-area button {font-weight: 700; text-transform: uppercase; font-size: 13px; margin-right: 4px;}
.action-area.normal-case {padding: 4px 8px 0; background: #f6f7f8; height: 36px;}
.action-area.normal-case a, .action-area.normal-case button {text-transform: none;}
.action-area.right a, .action-area.right button {margin-left: 4px;}
.card_container .gray {background: #f6f7f8;}
.primary-context .head .action-area {padding-top: 0; float: right;}
.primary-context .head .action-area a {margin: 0;}
.left-sidebar .action-area {padding:12px 8px;}
.action-area td {vertical-align: middle;}
/* bids-area & comments-area */
.bids-area, .comments-area {min-height: 72px;}
.bids-area.closed, .comments-area.closed {min-height: 72px; display:none;}
.comments-area {background: #f6f7f8;}
.bids-area .bid-wrap, .comments-area .comment-wrap {border-top: 1px solid #ddd; padding:16px;}
.bids-area .body, .comments-area .body {padding-left:16px;}
.bids-area .body .head, .comments-area .body .head {float: left; width: 80%;}
.bids-area .body .subaction, .comments-area .body .subaction {text-align: right; width: 20%;}


.wrapper.two {
	max-width: 48%;
	margin: 0 1%;
}

.wrapper:nth-of-type(2) {margin-left:0 !important;}